<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="../assets/css/style.css" type="text/css" /> --}}
		<title>Main Burger</title>
		{{!-- Google Fonts --}}
		<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
		{{!-- CSS --}}
		<link rel="stylesheet" href="../assets/css/burger_style.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/app.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>